body{
    text-align: start;
    background-color:rgb(255, 255, 255);
    font-size:30px;
    padding:1cm;
    display:block;
    
}
div{
    padding:50px;
    border:15px solid black;
    width:400px;
    margin:20px;
}
button{
    font-size: 30px;
    width:auto;
    text-align: center;
    cursor:pointer;
}

input[type=password],input[type=email] {
  width: 100%;
  padding: 11px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
input[type=text]{
  width: 100%;
  padding: 11px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
label{
    text-align:left;
}
button:hover{
    opacity:0.8;
    background-color:green;
}